/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />*/

@import "compass/reset"
@import "layout"
@import "typography"

@mixin band
	height: 40px
	width: 80px
	display: inline-block
#band1 a, #band2 a, #band3 a, #band4 a
	@include band
	&:hover
		ul.color-selector
			margin-left: auto
#band1 a
	background-color: red
#band2 a
	background-color: green
#band3 a
	background-color: yellow
#band4 a
	background-color: blue

.color-selector
	margin-left: -10000px
	& > li
		display: block
		height: 20px
		width: 80px

